/*Mobile-first*/

/*Cards*/

a.card {
  all: unset;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F0F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

a.card svg {
  width: 24px !important;
  height: 24px !important;
}

a.card.card--arrowed {
  padding: 24px 32px;
  display: block;
}

a.card > div.card-inner, figure.card.card--figure > div.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure.card.card--figure > div.card-inner {
  background-color: #F0F3F3;
  min-height: 132px;
}

a.card.card--arrowed > div.card-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100%;
}

a.card > div.card-inner > span.card-text {
  color: #000000;
  margin-top: 8px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  max-width: 100%;
}

a.card.card--arrowed > div.card-inner > span.card-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  margin: 0;
}

figure.card.card--figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

figure.card.card--figure img.card-figiure-image {
  width: 100%;
  height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
}

figure.card.card--figure h2.card-title, figure.card.card--figure > h3.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #253136;
}  

figure.card.card--figure h2.card-title.card-title--2lines, figure.card.card--figure h3.card-title.card-title--2lines {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

figure.card.card--figure h2.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #253136;
  margin-top: 16px;
  margin-bottom: 0;
}

figure.card.card--figure h3.card-title {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

figure.card.card--figure span.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #253136;
}
  
figure.card.card--figure .link {
  margin-top: 20px;
  justify-self: flex-end;
}

figure.card.card--figure span.card-text.card-text--3lines {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

a.card > div.card-inner > div.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

a.card.card--large > div.card-inner .icon, a.card.card--large > div.card-inner avg {
  width: 68px !important;
  height: 68px !important;
}

a.card > div.card-inner .icon, a.card > div.card-inner svg {
  fill: #DE411B;
  width: 32px !important;
  height: 32px !important;
}

a.card.card--arrowed > div.card-inner > .icon, a.card.card--arrowed > div.card-inner > svg {
  width: 24px !important;
  height: 24px !important;
}
a.card:focus {
  background-color: #e5e5e5;
}

a.card:focus > div.card-inner > span.card-text {
  color: #000000;
}

section.card-wrapper, div.card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col-start] 24px minmax(10px, 1fr) 24px [col-end] 24px [col-start] 24px minmax(10px, 1fr) 24px [col-end];
  grid-template-columns: repeat(2, [col-start] minmax(10px, 1fr) [col-end]);
  grid-auto-rows: minmax(136px, 1fr);
  row-gap: 24px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

section.card-wrapper.card-wrapper--arrowed, div.card-wrapper.card-wrapper--arrowed {
  grid-auto-rows: minmax(200px, auto);
}

/* /Cards*/

/*Tablets*/
@media screen and (min-width: 480px) {
/*  Cards*/

    a.card {
      padding: 32px;
    }
    
    a.card > span.card-text {
      margin-top: 16px;
    }

    a.card:hover > div.card-inner > span.card-text {
      color: #DE411B;
    }

/*/Cards*/
}

/*Desktop*/
@media screen and (min-width: 1280px) {
/*  Cards*/
    a.card {
      padding: 32px;
    }

    a.card.card--arrowed {
      padding: 24px 32px;
    }
    
    a.card > div.card-inner > span.card-text {
      margin-top: 8px;
    }

    section.card-wrapper, div.card-wrapper {
      -ms-grid-columns: ([col-start] minmax(100px, 1fr) [col-end])[4];
      grid-template-columns: repeat(4, [col-start] minmax(100px, 1fr) [col-end]);
    }

/*/Cards*/
}

.--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
}